@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #131E5C;
}

main {
  width: 80%;
  max-width: 960px;
  margin: 50px auto;
}

main h1 {
  margin-bottom:42px;
  font-size: 3em;
  text-align: center;
}

.ui-controls .pomo-controls {
  display: inline-block;
  width: 49%;
  text-align: center;
}

.ui-controls .pomo-controls h2 {
  padding-bottom: 26px;
}

.ui-controls .pomo-controls p{
  display: inline-block;
  padding: 10px 3%;
  font-size: 20px;
}

.ui-controls .pomo-controls button {
  font-size: 1em;
  line-height: 1em;
  padding: 1em;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  border: 3px solid white;
  transition: .1s ease-in all;
}

.ui-controls .pomo-controls button:active {
  background-color: #fff;
  color: #131E5C;
  /*border: 3px solid #131E5C;*/
}

.ui-controls .pomo-controls button:focus {
  outline: 0;
}

.timer-display {
  text-align: center;
  padding: 64px;
}

.timer-display > h2 {
  font-size: 5em;
}

.timer-display > h3 {
  padding-top: 46px;
  font-size: 2.5em;
}

.timer-controls {
  text-align: center;
}

.timer-controls button {
  font-size: 2em;
  line-height: 2em;
  background-color: transparent;
  border: 0;
  padding: 1.5em;
  cursor: pointer;
  transition: 0.1s ease-in all;
  color: #fff;
}

.timer-controls button:focus {
  outline: 0;
}

.play:hover {
   color: #23A63B;
}

.pause:hover {
  color: #FFF441;
}

.reset:hover {
  color: #FF3C26;
}
